.circle-button1 {
    width: 40px;               /* Define o tamanho do botão */
    height: 40px;              /* Define o tamanho do botão */
    background-color: #4c9ee3; /* Cor de preenchimento azul */
    border: 5px solid #2c2c2c; /* Borda escura */
    border-radius: 50%;        /* Faz o botão ficar redondo */
    cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
    outline: none;   
    
    &:hover {
     border: 5px solid #13bcf0;
    }

}


    .circle-button2 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #e3904c; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        
        &:hover {
            border: 5px solid #13bcf0;
           }
    }


    .circle-button3 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #4ce397; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
        }
    }


    .circle-button4 {
        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #e34cca; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   

        &:hover {
            border: 5px solid #13bcf0;
           }
    }


    .circle-button5 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #e34c54; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   

        &:hover {
            border: 5px solid #13bcf0;
           }
    }


    .circle-button6 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #4cdee3; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
           }
    }

    .circle-button7 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #65e34c; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
           }
    }

    .circle-button8 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #e3bb4c; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
           }
    }

    .circle-button9 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #e39d4c; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
           }
    }

    .circle-button10 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #4cd9e3; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
           }
    }

    
    .circle-button11 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #ca4ce3; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
           }
    }

    
    .circle-button12 {

        width: 40px;               /* Define o tamanho do botão */
        height: 40px;              /* Define o tamanho do botão */
        background-color: #4ce3b1; /* Cor de preenchimento azul */
        border: 5px solid #2c2c2c; /* Borda escura */
        border-radius: 50%;        /* Faz o botão ficar redondo */
        cursor: pointer;         /* Mostra o cursor de "mãozinha" ao passar o mouse */
        outline: none;   
        &:hover {
            border: 5px solid #13bcf0;
           }
    }

  