
.app {

    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
   


}

.aside-container {
    background-image: url(./assets/images/cupcake.png);
    background-size: 20rem;
    background-repeat: no-repeat;
    padding: 4rem;

   

 
}

.main {
    overflow: auto;
    padding: 4rem;


    & h1 {

       /* Crie seu convite */

font-family: "Baloo 2";
font-size: 40px;

    }
    
}

.main-two {

    font-family: "Baloo 2";
font-size: 17px;
font-weight: bolder;

}

span > img {
    float: left;
    margin-right: 1rem;
}

 .name { 
       /* Label */

width: 37px;
height: 19px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #C8CDD0;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
    

    }



    .name-input  {
   /* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 560px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

    }


    .date-input {
/* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Placeholder */

width: 138px;
height: 22px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #869198;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

    }

    .end-input {



        /* Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 272px;
height: 48px;

background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

    }