/* Estilos gerais */
html, body {
    overflow: hidden; /* Esconde todas as barras de rolagem */
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #141313;
    font-family: Arial, sans-serif;
}

.app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    margin-top: 5rem;
}

.img--h1--h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14rem;
}

.aside-container {
    background-image: url(./assets/images/cupcake.png);
    background-size: contain;
    height: 97vh;
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: 57px;
    border-color: #080808;
}

.aside-container h1 {
    font-family: 'Leckerli One';
    font-size: 40px;
    margin-left: 177px;
    color: #FF598B;
}

.aside-container img {
    margin: -2rem 0 -5px 177px;
}

.aside-container h2 {
    margin-left: 177px;
    font-size: 17px;
    color: #C8CDD0;
}

.main {
    overflow-y: auto;
    padding: 4rem;
}

.main h1 {
    margin-top: 4rem;
    font-family: "Baloo 2";
    font-size: 40px;
}

.main-two {
    font-family: "Baloo 2";
    font-size: 17px;
    font-weight: bolder;
}

span > img {
    float: left;
    margin-right: 1rem;
}

.name {
    width: 37px;
    height: 19px;
    font-family: 'Leckerli One ';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #C8CDD0;
}

.name-input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 8px;
    width: 320px;
    height: 48px;
    background: #1C1F21;
    border: 1px solid #363B40;
    border-radius: 8px;
    color: aliceblue;
    
    
 
}

.name-input::placeholder {

    color: rgba(255, 255, 255, 0.5);
}
.date-time-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

label {
    font-size: 14px;
}

input {
    background-color: #161515;
    border: 1px solid #0c0c0c;
    border-radius: 8px;
    padding: 10px;
    color: #111111;
    font-size: 16px;
}

/* input:focus {
    outline: none;
    border-color: #1f1e1e;
} */
 
.container {
    display: flex;
    align-items: center;
    color: rgb(14, 13, 13);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    gap: 10px;
}

.icone {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.texto, .type, .local, .description, .main-two, .main, .input-combined2, .input-combined3, .input-combined4, .input-combined5 {
    color: #C8CDD0;
}



.container {
 
   
    gap: 25px;
}

.botao1, .botao2 {

    width: 157px;
    height: 50px;
    border-radius: 10px;
    
    background-color: #202020;
    color: rgb(253, 249, 249);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    column-gap: 1rem;
    
}






.botao1:hover, .botao2:hover {
    background-color: #141414;

}

.personalizacao {
    margin-top: 5rem;
    
    
    gap: 8px;
    font-size: 2rem;
    font-family: "Baloo 2";
}

.buttons-and-title {

    & h2 {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1rem;
        font-family: "Baloo 2";
    }
}

.container {

display: inline;
}

.tipo-section {
    
    flex-direction: column;
    gap: 12px;
    
}

label {
    color: #ffffff;
    font-family: sans-serif;
}

.tipo1 {

   
    color: #ffffff;
    font-size: 15px;
    margin-bottom: -20px;
    display: flex;
        align-items: center;
    
}

.opcoes-grupo {
    
    display: flex;
    gap: 10px;
    align-items: flex-end; /* Alinha os elementos pela base */

  
   
}

.opcoes {
    display: flex;
    gap: 12px;
}

.opcao {
   
    height: 50px;
    font-size: 14px;
    padding: 8px 16px;
    background-color: #1c1c1c;
    border: 1px solid #333333;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;

    
  
}

.input-endereco {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1; /* Faz o input ocupar o espaço restante */
    
}

.input-endereco input {
    padding: 8px 12px;
    background-color: #1c1c1c;
    border: 1px solid #333333;
    border-radius: 4px;
    color: #ffffff;
    width: 100%;
    height: 33px;
}

.input-endereco input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    
}

/* Estilo para opção selecionada */
.opcao:hover {
   
    background-color: rgba(83, 84, 85, 0.1);
}




.icone {
    width: 16px;
    height: 15px;
}


.description {
    width: 20rem;
    height: 10rem;

}

.local {
    width: 10rem;
    margin-bottom: 1rem;


}

.form-group {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-family: sans-serif;
    color: #ffffff;
}

.description {

    width: 99%;
    min-height: 100px;
    padding: 12px;
    background-color: #1c1c1c;
    border: 1px solid #333333;
    border-radius: 4px;
    color: #ffffff;
    font-family: sans-serif;
    resize: vertical;
}

.description-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.description-input:focus {
    outline: none;
    border-color: #4a4a4a;
}

.description1 {
    margin-bottom: 1rem;
}






    
    .theme-selection .btn {
        all: unset;
        border: 2px solid transparent;  /* Define a borda inicial transparente */
        border-radius: 9%;
        cursor: pointer;
    } 
    
    .theme-selection .btn:hover {
        border-color: #13bcf0;
    }

    .switch {
       
  position: relative;
  display: inline-block;
  width: 5rem;
  
  
}

.switch input {
    
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.switch-container > h1{

    font-size: 19px;
}



.escuro1 {
    display: flex;
    margin-top: 1px;
    margin-left: 30px;
    
    

}

.escuro2 {
    margin-top: 1px;
    margin-left: 4rem;
    

    
}

.file-upload-container {
    display: flex;
    align-items: center;
    grid-column: 50% ;
    background-color: #1e1e1e;
    margin-left: 10rem;
    margin-top: -43px;
   
    
  }


  
  
 
  
  .file-upload-button {
    background-color: #37393a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 3rem;
    width: 7rem;   
   
  }


  .file-upload-button:hover {
    background-color: #13bcf0;

}
  
  
  .file-name {
    color: #c9c9c9;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1rem;
  }
  
  .file-input {
    display: none;
  }

/* Media Queries para responsividade */
@media screen and (min-width: 10px) and (max-width: 600px) {
    .app {
        grid-template-columns: 1fr;
        margin-top: 1rem; 
    }

    .aside-container {
        margin-left: 0;
        height: auto;
    }

    .aside-container h1, .aside-container img, .aside-container h2 {
        margin-left: 0;
        text-align: center;
    }

    .aside-container h1 {
        font-size: 1.8rem; 
    }

    .aside-container h2 {
        font-size: 0.9rem; 
    }

    .main {
        padding: 0.1rem; 
    }

    .main h1 {
        font-size: 1.8rem; 
        margin-top: 1rem; 
    }

    
}


